@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  width: 100% !important;
  background-color: #ffffff !important;
}

body.overflow-hidden-page {
  overflow: hidden !important;
  height: 100vh !important;
}

body {
  background-color: #e5e7eb; 
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif !important;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
